<body>
	<header>
		<div id="header-hero">
			<div class="header-bg"> <img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412561/E-commerce%20landing%20page/header/header-image_3x.jpg" alt="header-image" /> </div>
			<div class="header-content">
				<p class="heading-1">fashion collection 2017</p>
				<h1>wellcome to brand<span class="logo-style">y</span> unique store</h1>
				<p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<div (click)="handleShopNow()" class="button cursor-pointer">
					<p>shop now</p>
				</div>
			</div>
		</div>
	</header>
</body>