<div id="root">
   <!-- navbar -->
   <nav id="navbar" class="bg-[#F3F3F1]">
    <div class="w-[80%] m-auto flex lg:flex-row md:flex-row sm:flex-col justify-between items-center p-1">
      <a href="#" routerLink="/" class="flex items-center gap-1 cursor-pointer">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQODiSWmwm2QwxzDdg5UhI9JB1S0xMEo_i3Sw&usqp=CAU" class="logo" alt="logo">
      </a>

      <div class="flex gap-6 text-pink-500 text-[20px]">
        <a routerLink="/" routerLinkActive="active" class="hover:text-orange-500">Home</a>
        <a routerLink="/products" routerLinkActive="active" class="hover:text-orange-500">Products</a>
        <a routerLink="/user/admin" routerLinkActive="active" class="hover:text-orange-500">Admin</a>
        <a routerLink="/about" routerLinkActive="active" class="hover:text-orange-500">About</a>
      </div>

      <div class="flex gap-3">
        <a routerLink="/login" type="button" class="focus:outline-none text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-md px-5 py-2.5 mr-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Login</a>
        <a routerLink="/register" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-md px-5 py-2.5 mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Signup</a>
      </div>
    </div>
  </nav>

  <!-- body -->
  <div id="main" class="min-h-screen">
    <router-outlet></router-outlet>
  </div>

   <!-- footer -->
   <footer id="footer" class="bg-slate-600 p-5 flex gap-3 justify-center items-center">
    <i class="fa-brands fa-github text-[24px] cursor-pointer hover:text-orange-500"></i>
    <span>shatrukumar47@gmail.com</span>
  </footer>

</div>
